@model tp2tuller.Models.Produto

<h2>Detalhes do Produto</h2>

<div>
    <h4>Produto</h4>
    <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>@Model.Nome</dd>
        <dt>Descrição</dt>
        <dd>@Model.Descricao</dd>
        <dt>Preço</dt>
        <dd>@Model.Preco</dd>
        <dt>Quantidade em Estoque</dt>
        <dd>@Model.Quantidade</dd>
    </dl>
</div>
