@model tp2tuller.Models.BL

@{
    ViewData["Title"] = "Create BL";
}

<h1>Create BL</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consignee" class="control-label"></label>
                <input asp-for="Consignee" class="form-control" />
                <span asp-validation-for="Consignee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Navio" class="control-label"></label>
                <input asp-for="Navio" class="form-control" />
                <span asp-validation-for="Navio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        @if (!ViewData.ModelState.IsValid)
        {
            <script>
                alert("Por favor, corrija os erros no formulário.");
            </script>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
